In [3]:
import kaggle_link_to
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [4]:
path = "/Users/jun/GitStudy/Data_4/Data/eCommerce3"

os.chdir(path)
list1 = os.listdir()
list1

['customers.csv',
 'products.csv',
 'orders.csv',
 '.DS_Store',
 'capstone_data_cleaned.csv',
 'payments.csv',
 'order_items.csv',
 'Retail_dataset.xlsx']

In [5]:
customers =  pd.read_csv(os.path.join(path, 'customers.csv'))
products =  pd.read_csv(os.path.join(path, 'products.csv'))
orders_df =  pd.read_csv(os.path.join(path, 'orders.csv'))
payments_df =  pd.read_csv(os.path.join(path, 'payments.csv'))
order_items_df =  pd.read_csv(os.path.join(path, 'order_items.csv'))
cleaned_df =  pd.read_csv(os.path.join(path, 'capstone_data_cleaned.csv'))

In [6]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119614 entries, 0 to 119613
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119614 non-null  object
 1   customer_id                    119614 non-null  object
 2   order_purchase_timestamp       119614 non-null  object
 3   order_approved_at              119614 non-null  object
 4   order_delivered_timestamp      119614 non-null  object
 5   order_estimated_delivery_date  119614 non-null  object
 6   order_item_id                  119614 non-null  int64
 7   product_id                     119614 non-null  object
 8   seller_id                      119614 non-null  object
 9   price                          119614 non-null  float64
 10  shipping_charges               119614 non-null  float64
 11  payment_type                   119614 non-null  object
 12  payment_installments           119614 non-null  int64
 13  payment_value                  119614 non-null  float64
 14  product_category_name          119614 non-null  object
 15  product_weight_g               119614 non-null  float64
 16  product_length_cm              119614 non-null  float64
 17  product_height_cm              119614 non-null  float64
 18  product_width_cm               119614 non-null  float64
 19  customer_zip_code_prefix       119614 non-null  int64
 20  customer_city                  119614 non-null  object
 21  customer_state                 119614 non-null  object
dtypes: float64(7), int64(3), object(12)
memory usage: 20.1+ MB

In [12]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119614 entries, 0 to 119613
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119614 non-null  object
 1   customer_id                    119614 non-null  object
 2   order_purchase_timestamp       119614 non-null  object
 3   order_approved_at              119614 non-null  object
 4   order_delivered_timestamp      119614 non-null  object
 5   order_estimated_delivery_date  119614 non-null  object
 6   order_item_id                  119614 non-null  int64
 7   product_id                     119614 non-null  object
 8   seller_id                      119614 non-null  object
 9   price                          119614 non-null  float64
 10  shipping_charges               119614 non-null  float64
 11  payment_type                   119614 non-null  object
 12  payment_installments           119614 non-null  int64
 13  payment_value                  119614 non-null  float64
 14  product_category_name          119614 non-null  object
 15  product_weight_g               119614 non-null  float64
 16  product_length_cm              119614 non-null  float64
 17  product_height_cm              119614 non-null  float64
 18  product_width_cm               119614 non-null  float64
 19  customer_zip_code_prefix       119614 non-null  int64
 20  customer_city                  119614 non-null  object
 21  customer_state                 119614 non-null  object
dtypes: float64(7), int64(3), object(12)
memory usage: 20.1+ MB

In [32]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32781 non-null  object
 2   product_weight_g       32949 non-null  float64
 3   product_length_cm      32949 non-null  float64
 4   product_height_cm      32949 non-null  float64
 5   product_width_cm       32949 non-null  float64
dtypes: float64(4), object(2)
memory usage: 1.5+ MB

In [33]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_timestamp      96476 non-null  object
 6   order_estimated_delivery_date  99441 non-null  object
dtypes: object(7)
memory usage: 5.3+ MB

In [35]:
payments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [36]:
order_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          112650 non-null  object
 1   order_item_id     112650 non-null  int64
 2   product_id        112650 non-null  object
 3   seller_id         112650 non-null  object
 4   price             112650 non-null  float64
 5   shipping_charges  112650 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.2+ MB

In [ ]:
# 자연어 처리 x
# 아이템 크게 4가지 항목으로 분류, (ID 별 구매한 아이템 조회, 묶어서 타겟 설정.) #2개 이하 구매한 고객은 학습에서 제외
# 지역, price
# 바이어 id,
# 바이어 itemid 
# 셀러는 itemid, 바이어id
# 바이어id , 셀러id
# payment_insallments 할부( 할부 금액에 따른 구매 습관, 지역이 다르지 않을까? )
# 구매 요일
#

In [ ]:
# quantity
#

In [ ]:
# 가설 1
# - 이상치
# 카테고리별 가격 
# 중복값
# 해외배송 겸 배송시간
# 카테고리 비주류
# 반품비용 높은 거 원인관리

In [ ]:
from sklearn.cluster import KMeans
import seaborn as sns

In [ ]:
# Weighted_Score를 기반으로 KMeans 클러스터링 수행
kmeans = KMeans(n_clusters=2, random_state=42)

rfm_df['Final_Cluster'] = kmeans.fit_predict(rfm_df[['Weighted_Score']])

# 클러스터링 결과 확인
print(rfm_df[['고객ID', 'Weighted_Score', 'Final_Cluster']])