In [17]:
import os
import pandas as pd

In [18]:
address_path = "/Users/jun/GitStudy/Data_4/Data/project5/address"
os.chdir(address_path)
os.listdir()

['random_address_LA.csv']

In [19]:
address_df = pd.read_csv("random_address_LA.csv",index_col=False)
address_df

    detailed_address                          city state     zipcode
0         PO BOX 111                     GREENWOOD    IN  46142-0111
1                727    FAIRFIELD AVE INDIANAPOLIS    IN  46205-3799
2               6200         HYTHE RD INDIANAPOLIS    IN  46220-4102
3               3000       DANUBE WAY INDIANAPOLIS    IN  46239-9287
4       9200 E 101ST               AVE CROWN POINT    IN  46307-8653
..               ...                           ...   ...         ...
499             1800          ORKNEY DR SOUTH BEND    IN  46614-3566
500       5200 E 620                  WOLCOTTVILLE    IN  46795-9442
501             3101          WARSAW ST FORT WAYNE    IN  46806-1169
502             3301  E MAPLE GROVE AVE FORT WAYNE    IN  46806-2619
503             7600    W ROCK LAKE SHORE DR AKRON    IN  46910-9617

[504 rows x 4 columns]

In [16]:
address_df['state'].value_counts()

state
IN    504
Name: count, dtype: int64

In [1]:
import slack1

In [2]:
send_msg("haha")

NameError: name 'send_msg' is not defined

In [9]:
import pltKorean_mac

In [10]:
pltKorean_mac.set_font_manager()