### <span style="color:darkgreen"> üìó ÌïÑÏàò 1. Í∏∞Ï¥àÌÜµÍ≥Ñ

In [13]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Ìò∏Ï∂ú 
import pandas as pd
import numpy as np 
# Í≥ºÌïô Í≥ÑÏÇ∞Ïö© ÌååÏù¥Ïç¨ ÎùºÏù¥Î∏åÎü¨Î¶¨ 
import scipy.stats as stats
import warnings 
warnings.filterwarnings('ignore')

In [14]:
df = pd.read_csv("statistics.csv")

In [15]:
df.groupby(['Gender'])['Review Rating'].agg(['mean','median']).round(2).reset_index()

   Gender  mean  median
0  Female  3.74     3.7
1    Male  3.75     3.8

### <span style="color:darkgreen"> üìó ÌïÑÏàò 2. ÌÜµÍ≥ÑÏ†Å Í∞ÄÏÑ§Í≤ÄÏ†ï

In [16]:
mask=(df['Gender']=='Male')
mask1 = (df['Gender']=='Female')
m_df = df[mask]
f_df = df[mask1]

In [17]:
# Í≤∞Ï†úÍ∏àÏï° Ïª¨ÎüºÎßå Í∞ÄÏ†∏Ïò§Í∏∞ 
m_df=m_df[['Review Rating']]
f_df=f_df[['Review Rating']]

In [18]:
t, pvalue=stats.ttest_ind(f_df, m_df)

In [19]:
t, pvalue

(array([-0.50971475]), array([0.61028017]))

### <span style="color:darkgreen"> üìó ÌïÑÏàò 3. ÌÜµÍ≥ÑÏ†Å Í∞ÄÏÑ§Í≤ÄÏ†ï2

In [25]:
result = pd.crosstab(df['Color'], df['Season'])

In [26]:
result

Season     Fall  Spring  Summer  Winter
Color
Beige        34      39      37      37
Black        42      43      42      40
Blue         32      39      46      35
Brown        35      33      33      40
Charcoal     32      42      36      43
Cyan         43      42      42      39
Gold         36      38      30      34
Gray         44      48      40      27
Green        37      38      44      50
Indigo       37      37      32      41
Lavender     38      32      39      38
Magenta      50      37      35      30
Maroon       40      39      35      44
Olive        47      52      35      43
Orange       45      39      37      33
Peach        42      38      24      45
Pink         35      44      29      45
Purple       37      43      38      33
Red          42      31      36      39
Silver       39      37      59      38
Teal         40      46      49      37
Turquoise    27      41      36      41
Violet       44      45      40      37
White        27      36      43      36
Yellow       50      40      38      46

In [21]:
stats.chi2_contingency(observed=result)

Chi2ContingencyResult(statistic=64.6506366841786, pvalue=0.718551112120402, dof=72, expected_freq=array([[36.75      , 37.65461538, 35.99615385, 36.59923077],
       [41.75      , 42.77769231, 40.89358974, 41.57871795],
       [38.        , 38.93538462, 37.22051282, 37.84410256],
       [35.25      , 36.11769231, 34.52692308, 35.10538462],
       [38.25      , 39.19153846, 37.46538462, 38.09307692],
       [41.5       , 42.52153846, 40.64871795, 41.32974359],
       [34.5       , 35.34923077, 33.79230769, 34.35846154],
       [39.75      , 40.72846154, 38.93461538, 39.58692308],
       [42.25      , 43.29      , 41.38333333, 42.07666667],
       [36.75      , 37.65461538, 35.99615385, 36.59923077],
       [36.75      , 37.65461538, 35.99615385, 36.59923077],
       [38.        , 38.93538462, 37.22051282, 37.84410256],
       [39.5       , 40.47230769, 38.68974359, 39.33794872],
       [44.25      , 45.33923077, 43.34230769, 44.06846154],
       [38.5       , 39.44769231, 37.71025641, 38.34205128],
       [37.25      , 38.16692308, 36.48589744, 37.09717949],
       [38.25      , 39.19153846, 37.46538462, 38.09307692],
       [37.75      , 38.67923077, 36.97564103, 37.59512821],
       [37.        , 37.91076923, 36.24102564, 36.84820513],
       [43.25      , 44.31461538, 42.36282051, 43.0725641 ],
       [43.        , 44.05846154, 42.11794872, 42.82358974],
       [36.25      , 37.14230769, 35.50641026, 36.10128205],
       [41.5       , 42.52153846, 40.64871795, 41.32974359],
       [35.5       , 36.37384615, 34.77179487, 35.35435897],
       [43.5       , 44.57076923, 42.60769231, 43.32153846]]))

### <span style="color:darkgreen"> üìó ÌïÑÏàò 4. Î®∏Ïã†Îü¨Îãù1

In [27]:
from sklearn.linear_model import LinearRegression

# Îç∞Ïù¥ÌÑ∞
X = np.array([10, 20, 30, 40, 60, 100]).reshape(-1, 1)
Y = np.array([50, 60, 70, 80, 90, 120])

# Î™®Îç∏ ÌõàÎ†®
model = LinearRegression()
model.fit(X, Y)
# ÌöåÍ∑ÄÏãù
coef, intercept = model.coef_[0], model.intercept_
print(f"ÌöåÍ∑ÄÏãù: Y = {coef:.2f}X + {intercept:.2f}")

# ÏòàÏ∏°
predicted_sales = model.predict(np.array([[1000]]))
print(f"1000ÎßåÏõê Í¥ëÍ≥†ÎπÑÏùº Îïå ÏòàÏÉÅ Îß§Ï∂ú: {predicted_sales[0]:.2f}ÎßåÏõê")

ÌöåÍ∑ÄÏãù: Y = 0.76X + 45.56
1000ÎßåÏõê Í¥ëÍ≥†ÎπÑÏùº Îïå ÏòàÏÉÅ Îß§Ï∂ú: 801.81ÎßåÏõê

### <span style="color:orange"> üìô ÎèÑÏ†Ñ 1. Î®∏Ïã†Îü¨Îãù2

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ
X = df[['Review Rating', 'Age', 'Previous Purchases']]
y = LabelEncoder().fit_transform(df['Discount Applied'])

# Îç∞Ïù¥ÌÑ∞ Î∂ÑÌï†
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Î™®Îç∏ ÌïôÏäµ
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)

# ÏòàÏ∏°
accuracy = rf_model.score(X_test, y_test)
print(f"Î™®Îç∏ Ï†ïÌôïÎèÑ: {accuracy:.2f}")

Î™®Îç∏ Ï†ïÌôïÎèÑ: 0.52

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

# Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ
X = df[['Age', 'Purchase Amount (USD)', 'Review Rating']]
y = LabelEncoder().fit_transform(df['Subscription Status'])

# Îç∞Ïù¥ÌÑ∞ Î∂ÑÌï†
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Î™®Îç∏ ÌïôÏäµ
model = LogisticRegression()
model.fit(X_train, y_train)

# ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ ÏòàÏ∏°
new_customer = [[30, 50, 4.0]]
predicted_prob = model.predict_proba(new_customer)[0, 1]

print(f"Ïó∞Î†π 30ÏÑ∏, Íµ¨Îß§ Í∏àÏï° 50, Î¶¨Î∑∞ ÌèâÏ†ê 4.0Ïù∏ Í≥†Í∞ùÏùò Ïù¥ÌÉà ÌôïÎ•†: {predicted_prob:.4f}")

Ïó∞Î†π 30ÏÑ∏, Íµ¨Îß§ Í∏àÏï° 50, Î¶¨Î∑∞ ÌèâÏ†ê 4.0Ïù∏ Í≥†Í∞ùÏùò Ïù¥ÌÉà ÌôïÎ•†: 0.2577