In [ ]:
## 설치
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:3 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:10 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,843 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,994 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,349 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,561 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,076 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [1,951 kB]
Fetched 10.0 MB in 2s (4,474 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
40 packages can be upgraded. Run 'apt list --upgradable' to see them.
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=4b9b6588c0b21bba16b8fad779d57c1f07da60824bd7c7dc8bf627bf38c2a346
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [ ]:
## 초기화
import findspark
findspark.init()
findspark.find()

'/usr/local/lib/python3.10/dist-packages/pyspark'

In [ ]:
import pyspark
from pyspark.sql import DataFrame, SparkSession

In [ ]:
## Session 생성
spark = (
    SparkSession
    .builder
    .appName("First Session")
    .getOrCreate()
)

spark

In [ ]:
spark.sparkContext.getConf().getAll()

[('spark.driver.port', '40901'),
 ('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.driver.memory', '4g'),
 ('spark.executor.memory', '4g'),
 ('spark.driver.host', '36dee20af093'),
 ('spark.app.id', 'local-1710093677038'),
 ('spark.executor.id', 'driver'),
 ('spark.sql.warehouse.dir', 'file:/content/spark-warehouse'),
 ('spark.executor.cores', '4'),
 ('spark.cores.max', '4'),
 ('spark.app.submitTime', '1710093674660'),
 ('spark.app.name', 'Spark Updated Conf'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.app.startTime', '1710093674976'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true')]

In [ ]:
conf = spark.sparkContext._conf.setAll([
     ('spark.executor.memory', '2g'),
     ('spark.app.name', 'Spark Updated Conf'),
     ('spark.executor.cores', '4'),
     ('spark.cores.max', '4'),
     ('spark.driver.memory','2g')
    ])

## Session 생성
spark = (
    SparkSession
    .builder
    .config(conf=conf)
    .getOrCreate()
)

spark

In [ ]:
spark.sparkContext.getConf().getAll()

[('spark.executor.memory', '2g'),
 ('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.driver.port', '43103'),
 ('spark.executor.id', 'driver'),
 ('spark.sql.warehouse.dir', 'file:/content/spark-warehouse'),
 ('spark.executor.cores', '4'),
 ('spark.app.submitTime', '1710125499952'),
 ('spark.cores.max', '4'),
 ('spark.app.name', 'Spark Updated Conf'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.driver.host', '187adf427216'),
 ('spark.driver.memory', '2g'),
 ('spark.app.id', 'local-1710125503402'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.app.startTime', '1710125500294')]

In [ ]:
## df 생성
df = spark.range(500).toDF("number")

In [ ]:
df.printSchema()

root
 |-- number: long (nullable = false)

In [ ]:
df.show()

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
|    10|
|    11|
|    12|
|    13|
|    14|
|    15|
|    16|
|    17|
|    18|
|    19|
+------+
only showing top 20 rows

### Transformation

In [ ]:
df.select("number")

DataFrame[number: bigint]

In [ ]:
import pyspark.sql.functions as f

In [ ]:
## 덧셈과 곱셈
df_ = df.select((f.col("number") * 2 + 10).alias("number"))
df_

DataFrame[number: bigint]

In [ ]:
df = df.withColumn('number2', df["number"] * 2 + 10)
df

DataFrame[number: bigint, number2: bigint]

In [ ]:
df.select(df["number"].cast("short").alias('number_short'), "number2")

DataFrame[number_short: smallint, number2: bigint]

In [ ]:
df.filter(df["number"] > 3)

DataFrame[number: bigint, number2: bigint]

### SparkSQL

In [ ]:
## View 생성
df.createOrReplaceTempView("df_number")

In [ ]:
spark.sql("""SELECT * FROM df_number;""").show()

+------+-------+
|number|number2|
+------+-------+
|     0|     10|
|     1|     12|
|     2|     14|
|     3|     16|
|     4|     18|
|     5|     20|
|     6|     22|
|     7|     24|
|     8|     26|
|     9|     28|
|    10|     30|
|    11|     32|
|    12|     34|
|    13|     36|
|    14|     38|
|    15|     40|
|    16|     42|
|    17|     44|
|    18|     46|
|    19|     48|
+------+-------+
only showing top 20 rows

### Action

In [ ]:
df.collect()

[Row(number=0, number2=10),
 Row(number=1, number2=12),
 Row(number=2, number2=14),
 Row(number=3, number2=16),
 Row(number=4, number2=18),
 Row(number=5, number2=20),
 Row(number=6, number2=22),
 Row(number=7, number2=24),
 Row(number=8, number2=26),
 Row(number=9, number2=28),
 Row(number=10, number2=30),
 Row(number=11, number2=32),
 Row(number=12, number2=34),
 Row(number=13, number2=36),
 Row(number=14, number2=38),
 Row(number=15, number2=40),
 Row(number=16, number2=42),
 Row(number=17, number2=44),
 Row(number=18, number2=46),
 Row(number=19, number2=48),
 Row(number=20, number2=50),
 Row(number=21, number2=52),
 Row(number=22, number2=54),
 Row(number=23, number2=56),
 Row(number=24, number2=58),
 Row(number=25, number2=60),
 Row(number=26, number2=62),
 Row(number=27, number2=64),
 Row(number=28, number2=66),
 Row(number=29, number2=68),
 Row(number=30, number2=70),
 Row(number=31, number2=72),
 Row(number=32, number2=74),
 Row(number=33, number2=76),
 Row(number=34, number2=78),
 Row(number=35, number2=80),
 Row(number=36, number2=82),
 Row(number=37, number2=84),
 Row(number=38, number2=86),
 Row(number=39, number2=88),
 Row(number=40, number2=90),
 Row(number=41, number2=92),
 Row(number=42, number2=94),
 Row(number=43, number2=96),
 Row(number=44, number2=98),
 Row(number=45, number2=100),
 Row(number=46, number2=102),
 Row(number=47, number2=104),
 Row(number=48, number2=106),
 Row(number=49, number2=108),
 Row(number=50, number2=110),
 Row(number=51, number2=112),
 Row(number=52, number2=114),
 Row(number=53, number2=116),
 Row(number=54, number2=118),
 Row(number=55, number2=120),
 Row(number=56, number2=122),
 Row(number=57, number2=124),
 Row(number=58, number2=126),
 Row(number=59, number2=128),
 Row(number=60, number2=130),
 Row(number=61, number2=132),
 Row(number=62, number2=134),
 Row(number=63, number2=136),
 Row(number=64, number2=138),
 Row(number=65, number2=140),
 Row(number=66, number2=142),
 Row(number=67, number2=144),
 Row(number=68, number2=146),
 Row(number=69, number2=148),
 Row(number=70, number2=150),
 Row(number=71, number2=152),
 Row(number=72, number2=154),
 Row(number=73, number2=156),
 Row(number=74, number2=158),
 Row(number=75, number2=160),
 Row(number=76, number2=162),
 Row(number=77, number2=164),
 Row(number=78, number2=166),
 Row(number=79, number2=168),
 Row(number=80, number2=170),
 Row(number=81, number2=172),
 Row(number=82, number2=174),
 Row(number=83, number2=176),
 Row(number=84, number2=178),
 Row(number=85, number2=180),
 Row(number=86, number2=182),
 Row(number=87, number2=184),
 Row(number=88, number2=186),
 Row(number=89, number2=188),
 Row(number=90, number2=190),
 Row(number=91, number2=192),
 Row(number=92, number2=194),
 Row(number=93, number2=196),
 Row(number=94, number2=198),
 Row(number=95, number2=200),
 Row(number=96, number2=202),
 Row(number=97, number2=204),
 Row(number=98, number2=206),
 Row(number=99, number2=208),
 Row(number=100, number2=210),
 Row(number=101, number2=212),
 Row(number=102, number2=214),
 Row(number=103, number2=216),
 Row(number=104, number2=218),
 Row(number=105, number2=220),
 Row(number=106, number2=222),
 Row(number=107, number2=224),
 Row(number=108, number2=226),
 Row(number=109, number2=228),
 Row(number=110, number2=230),
 Row(number=111, number2=232),
 Row(number=112, number2=234),
 Row(number=113, number2=236),
 Row(number=114, number2=238),
 Row(number=115, number2=240),
 Row(number=116, number2=242),
 Row(number=117, number2=244),
 Row(number=118, number2=246),
 Row(number=119, number2=248),
 Row(number=120, number2=250),
 Row(number=121, number2=252),
 Row(number=122, number2=254),
 Row(number=123, number2=256),
 Row(number=124, number2=258),
 Row(number=125, number2=260),
 Row(number=126, number2=262),
 Row(number=127, number2=264),
 Row(number=128, number2=266),
 Row(number=129, number2=268),
 Row(number=130, number2=270),
 Row(number=131, number2=272),
 Row(number=132, number2=274),
 Row(number=133, number2=276),
 Row(number=134, number2=278),
 Row(number=135, number2=280),
 Row(number=136, number2=282),
 Row(number=137, number2=284),
 Row(number=138, number2=286),
 Row(number=139, number2=288),
 Row(number=140, number2=290),
 Row(number=141, number2=292),
 Row(number=142, number2=294),
 Row(number=143, number2=296),
 Row(number=144, number2=298),
 Row(number=145, number2=300),
 Row(number=146, number2=302),
 Row(number=147, number2=304),
 Row(number=148, number2=306),
 Row(number=149, number2=308),
 Row(number=150, number2=310),
 Row(number=151, number2=312),
 Row(number=152, number2=314),
 Row(number=153, number2=316),
 Row(number=154, number2=318),
 Row(number=155, number2=320),
 Row(number=156, number2=322),
 Row(number=157, number2=324),
 Row(number=158, number2=326),
 Row(number=159, number2=328),
 Row(number=160, number2=330),
 Row(number=161, number2=332),
 Row(number=162, number2=334),
 Row(number=163, number2=336),
 Row(number=164, number2=338),
 Row(number=165, number2=340),
 Row(number=166, number2=342),
 Row(number=167, number2=344),
 Row(number=168, number2=346),
 Row(number=169, number2=348),
 Row(number=170, number2=350),
 Row(number=171, number2=352),
 Row(number=172, number2=354),
 Row(number=173, number2=356),
 Row(number=174, number2=358),
 Row(number=175, number2=360),
 Row(number=176, number2=362),
 Row(number=177, number2=364),
 Row(number=178, number2=366),
 Row(number=179, number2=368),
 Row(number=180, number2=370),
 Row(number=181, number2=372),
 Row(number=182, number2=374),
 Row(number=183, number2=376),
 Row(number=184, number2=378),
 Row(number=185, number2=380),
 Row(number=186, number2=382),
 Row(number=187, number2=384),
 Row(number=188, number2=386),
 Row(number=189, number2=388),
 Row(number=190, number2=390),
 Row(number=191, number2=392),
 Row(number=192, number2=394),
 Row(number=193, number2=396),
 Row(number=194, number2=398),
 Row(number=195, number2=400),
 Row(number=196, number2=402),
 Row(number=197, number2=404),
 Row(number=198, number2=406),
 Row(number=199, number2=408),
 Row(number=200, number2=410),
 Row(number=201, number2=412),
 Row(number=202, number2=414),
 Row(number=203, number2=416),
 Row(number=204, number2=418),
 Row(number=205, number2=420),
 Row(number=206, number2=422),
 Row(number=207, number2=424),
 Row(number=208, number2=426),
 Row(number=209, number2=428),
 Row(number=210, number2=430),
 Row(number=211, number2=432),
 Row(number=212, number2=434),
 Row(number=213, number2=436),
 Row(number=214, number2=438),
 Row(number=215, number2=440),
 Row(number=216, number2=442),
 Row(number=217, number2=444),
 Row(number=218, number2=446),
 Row(number=219, number2=448),
 Row(number=220, number2=450),
 Row(number=221, number2=452),
 Row(number=222, number2=454),
 Row(number=223, number2=456),
 Row(number=224, number2=458),
 Row(number=225, number2=460),
 Row(number=226, number2=462),
 Row(number=227, number2=464),
 Row(number=228, number2=466),
 Row(number=229, number2=468),
 Row(number=230, number2=470),
 Row(number=231, number2=472),
 Row(number=232, number2=474),
 Row(number=233, number2=476),
 Row(number=234, number2=478),
 Row(number=235, number2=480),
 Row(number=236, number2=482),
 Row(number=237, number2=484),
 Row(number=238, number2=486),
 Row(number=239, number2=488),
 Row(number=240, number2=490),
 Row(number=241, number2=492),
 Row(number=242, number2=494),
 Row(number=243, number2=496),
 Row(number=244, number2=498),
 Row(number=245, number2=500),
 Row(number=246, number2=502),
 Row(number=247, number2=504),
 Row(number=248, number2=506),
 Row(number=249, number2=508),
 Row(number=250, number2=510),
 Row(number=251, number2=512),
 Row(number=252, number2=514),
 Row(number=253, number2=516),
 Row(number=254, number2=518),
 Row(number=255, number2=520),
 Row(number=256, number2=522),
 Row(number=257, number2=524),
 Row(number=258, number2=526),
 Row(number=259, number2=528),
 Row(number=260, number2=530),
 Row(number=261, number2=532),
 Row(number=262, number2=534),
 Row(number=263, number2=536),
 Row(number=264, number2=538),
 Row(number=265, number2=540),
 Row(number=266, number2=542),
 Row(number=267, number2=544),
 Row(number=268, number2=546),
 Row(number=269, number2=548),
 Row(number=270, number2=550),
 Row(number=271, number2=552),
 Row(number=272, number2=554),
 Row(number=273, number2=556),
 Row(number=274, number2=558),
 Row(number=275, number2=560),
 Row(number=276, number2=562),
 Row(number=277, number2=564),
 Row(number=278, number2=566),
 Row(number=279, number2=568),
 Row(number=280, number2=570),
 Row(number=281, number2=572),
 Row(number=282, number2=574),
 Row(number=283, number2=576),
 Row(number=284, number2=578),
 Row(number=285, number2=580),
 Row(number=286, number2=582),
 Row(number=287, number2=584),
 Row(number=288, number2=586),
 Row(number=289, number2=588),
 Row(number=290, number2=590),
 Row(number=291, number2=592),
 Row(number=292, number2=594),
 Row(number=293, number2=596),
 Row(number=294, number2=598),
 Row(number=295, number2=600),
 Row(number=296, number2=602),
 Row(number=297, number2=604),
 Row(number=298, number2=606),
 Row(number=299, number2=608),
 Row(number=300, number2=610),
 Row(number=301, number2=612),
 Row(number=302, number2=614),
 Row(number=303, number2=616),
 Row(number=304, number2=618),
 Row(number=305, number2=620),
 Row(number=306, number2=622),
 Row(number=307, number2=624),
 Row(number=308, number2=626),
 Row(number=309, number2=628),
 Row(number=310, number2=630),
 Row(number=311, number2=632),
 Row(number=312, number2=634),
 Row(number=313, number2=636),
 Row(number=314, number2=638),
 Row(number=315, number2=640),
 Row(number=316, number2=642),
 Row(number=317, number2=644),
 Row(number=318, number2=646),
 Row(number=319, number2=648),
 Row(number=320, number2=650),
 Row(number=321, number2=652),
 Row(number=322, number2=654),
 Row(number=323, number2=656),
 Row(number=324, number2=658),
 Row(number=325, number2=660),
 Row(number=326, number2=662),
 Row(number=327, number2=664),
 Row(number=328, number2=666),
 Row(number=329, number2=668),
 Row(number=330, number2=670),
 Row(number=331, number2=672),
 Row(number=332, number2=674),
 Row(number=333, number2=676),
 Row(number=334, number2=678),
 Row(number=335, number2=680),
 Row(number=336, number2=682),
 Row(number=337, number2=684),
 Row(number=338, number2=686),
 Row(number=339, number2=688),
 Row(number=340, number2=690),
 Row(number=341, number2=692),
 Row(number=342, number2=694),
 Row(number=343, number2=696),
 Row(number=344, number2=698),
 Row(number=345, number2=700),
 Row(number=346, number2=702),
 Row(number=347, number2=704),
 Row(number=348, number2=706),
 Row(number=349, number2=708),
 Row(number=350, number2=710),
 Row(number=351, number2=712),
 Row(number=352, number2=714),
 Row(number=353, number2=716),
 Row(number=354, number2=718),
 Row(number=355, number2=720),
 Row(number=356, number2=722),
 Row(number=357, number2=724),
 Row(number=358, number2=726),
 Row(number=359, number2=728),
 Row(number=360, number2=730),
 Row(number=361, number2=732),
 Row(number=362, number2=734),
 Row(number=363, number2=736),
 Row(number=364, number2=738),
 Row(number=365, number2=740),
 Row(number=366, number2=742),
 Row(number=367, number2=744),
 Row(number=368, number2=746),
 Row(number=369, number2=748),
 Row(number=370, number2=750),
 Row(number=371, number2=752),
 Row(number=372, number2=754),
 Row(number=373, number2=756),
 Row(number=374, number2=758),
 Row(number=375, number2=760),
 Row(number=376, number2=762),
 Row(number=377, number2=764),
 Row(number=378, number2=766),
 Row(number=379, number2=768),
 Row(number=380, number2=770),
 Row(number=381, number2=772),
 Row(number=382, number2=774),
 Row(number=383, number2=776),
 Row(number=384, number2=778),
 Row(number=385, number2=780),
 Row(number=386, number2=782),
 Row(number=387, number2=784),
 Row(number=388, number2=786),
 Row(number=389, number2=788),
 Row(number=390, number2=790),
 Row(number=391, number2=792),
 Row(number=392, number2=794),
 Row(number=393, number2=796),
 Row(number=394, number2=798),
 Row(number=395, number2=800),
 Row(number=396, number2=802),
 Row(number=397, number2=804),
 Row(number=398, number2=806),
 Row(number=399, number2=808),
 Row(number=400, number2=810),
 Row(number=401, number2=812),
 Row(number=402, number2=814),
 Row(number=403, number2=816),
 Row(number=404, number2=818),
 Row(number=405, number2=820),
 Row(number=406, number2=822),
 Row(number=407, number2=824),
 Row(number=408, number2=826),
 Row(number=409, number2=828),
 Row(number=410, number2=830),
 Row(number=411, number2=832),
 Row(number=412, number2=834),
 Row(number=413, number2=836),
 Row(number=414, number2=838),
 Row(number=415, number2=840),
 Row(number=416, number2=842),
 Row(number=417, number2=844),
 Row(number=418, number2=846),
 Row(number=419, number2=848),
 Row(number=420, number2=850),
 Row(number=421, number2=852),
 Row(number=422, number2=854),
 Row(number=423, number2=856),
 Row(number=424, number2=858),
 Row(number=425, number2=860),
 Row(number=426, number2=862),
 Row(number=427, number2=864),
 Row(number=428, number2=866),
 Row(number=429, number2=868),
 Row(number=430, number2=870),
 Row(number=431, number2=872),
 Row(number=432, number2=874),
 Row(number=433, number2=876),
 Row(number=434, number2=878),
 Row(number=435, number2=880),
 Row(number=436, number2=882),
 Row(number=437, number2=884),
 Row(number=438, number2=886),
 Row(number=439, number2=888),
 Row(number=440, number2=890),
 Row(number=441, number2=892),
 Row(number=442, number2=894),
 Row(number=443, number2=896),
 Row(number=444, number2=898),
 Row(number=445, number2=900),
 Row(number=446, number2=902),
 Row(number=447, number2=904),
 Row(number=448, number2=906),
 Row(number=449, number2=908),
 Row(number=450, number2=910),
 Row(number=451, number2=912),
 Row(number=452, number2=914),
 Row(number=453, number2=916),
 Row(number=454, number2=918),
 Row(number=455, number2=920),
 Row(number=456, number2=922),
 Row(number=457, number2=924),
 Row(number=458, number2=926),
 Row(number=459, number2=928),
 Row(number=460, number2=930),
 Row(number=461, number2=932),
 Row(number=462, number2=934),
 Row(number=463, number2=936),
 Row(number=464, number2=938),
 Row(number=465, number2=940),
 Row(number=466, number2=942),
 Row(number=467, number2=944),
 Row(number=468, number2=946),
 Row(number=469, number2=948),
 Row(number=470, number2=950),
 Row(number=471, number2=952),
 Row(number=472, number2=954),
 Row(number=473, number2=956),
 Row(number=474, number2=958),
 Row(number=475, number2=960),
 Row(number=476, number2=962),
 Row(number=477, number2=964),
 Row(number=478, number2=966),
 Row(number=479, number2=968),
 Row(number=480, number2=970),
 Row(number=481, number2=972),
 Row(number=482, number2=974),
 Row(number=483, number2=976),
 Row(number=484, number2=978),
 Row(number=485, number2=980),
 Row(number=486, number2=982),
 Row(number=487, number2=984),
 Row(number=488, number2=986),
 Row(number=489, number2=988),
 Row(number=490, number2=990),
 Row(number=491, number2=992),
 Row(number=492, number2=994),
 Row(number=493, number2=996),
 Row(number=494, number2=998),
 Row(number=495, number2=1000),
 Row(number=496, number2=1002),
 Row(number=497, number2=1004),
 Row(number=498, number2=1006),
 Row(number=499, number2=1008)]

In [ ]:
df.take(3)

[Row(number=0, number2=10),
 Row(number=1, number2=12),
 Row(number=2, number2=14)]

In [ ]:
df.write.parquet("content/df_dummy.parquet", mode="overwrite")

In [ ]:
df.rdd.getNumPartitions()

2

In [ ]:
import pandas as pd
pd.read_parquet("/content/content/df_dummy.parquet/part-00001-374d0b56-877b-4385-a54b-cbb576d328f5-c000.snappy.parquet")

     number  number2
0       250      510
1       251      512
2       252      514
3       253      516
4       254      518
..      ...      ...
245     495     1000
246     496     1002
247     497     1004
248     498     1006
249     499     1008

[250 rows x 2 columns]

In [ ]:
df.toPandas()

     number  number2
0         0       10
1         1       12
2         2       14
3         3       16
4         4       18
..      ...      ...
495     495     1000
496     496     1002
497     497     1004
498     498     1006
499     499     1008

[500 rows x 2 columns]

In [ ]:
spark.read.parquet("content/df_dummy.parquet")

DataFrame[number: bigint, number2: bigint]

### UDF

In [ ]:
from pyspark.sql.functions import PandasUDFType
from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import IntegerType
import pandas as pd


# @pandas_udf(IntegerType(), PandasUDFType.SCALAR)
@pandas_udf("short")
def double(number:pd.Series) -> pd.Series:

    return number*2

df.select(double("number")).show()

+--------------+
|double(number)|
+--------------+
|             0|
|             2|
|             4|
|             6|
|             8|
|            10|
|            12|
|            14|
|            16|
|            18|
|            20|
|            22|
|            24|
|            26|
|            28|
|            30|
|            32|
|            34|
|            36|
|            38|
+--------------+
only showing top 20 rows